---
import Layout from '../layouts/layout.astro';
import Table from '../components/Table.astro';

import { fetchJSONData } from '../utils/fetchdata.js';
const data = fetchJSONData(); 
---

<Layout title="MAVE - CASM">
	<h1 class="page__title">MAVE Operations - CASM priority genes</h1>

	<section class="section">
		<Table data={ data.casm.data} className="foobar"/>	
	</section>
</Layout>