---
import Layout from '../layouts/layout.astro';
import Table from '../components/Table.astro';
import { Icon } from 'astro-icon/components';

import { fetchJSONData } from '../utils/fetchdata.js';
const data = fetchJSONData();
---

<Layout title="Mave - Dashboard">
	<h1 class="page__title">MAVE Operations - totals</h1>

	<section class="section section--geneMetrics">
		<h2 class="table__title"><Icon name="material-symbols:genetics" class="table__icon"/>Gene metrics</h2>
		<Table data={ data.dashboard['Gene metrics'] } />	
	</section>

	<section class="section section--targetonMetrics">
		<h2 class="table__title"><Icon name="mdi:target" class="table__icon" />Targeton metrics</h2>
		<Table data={ data.dashboard['Targeton metrics'] } />
	</section>

</Layout>